header {
    position: fixed;
    background-color: #34373c;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 80px;
}

/* Estilos para el título del logo o marca */
header h1 {
    margin: 0;
    padding: 0 16px;
    float: left;
    font-size: 34px;
}

/* Estilos para el conjunto de botones al centro */
header nav {
    text-align: center;
}

/* Estilos para cada botón individual */
header a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

/* Estilos para el botón activo */
header a.active {
    background-color: #555; /* Puedes cambiar este color */
}
/* Estilos para los links cuando el mouse está encima */
nav a:hover {
    background-color: #555; 
}
